@font-face {
    font-family: 'Helvetica Neues';
    src: url('/assets/fonts/helveticaneueltpro-bd-webfont.eot');
    src: url('/assets/fonts/helveticaneueltpro-bd-webfont.eot?iefix') format('eot'),
         url('/assets/fonts/helveticaneueltpro-bd-webfont.woff') format('woff'),
         url('/assets/fonts/helveticaneueltpro-bd-webfont.ttf') format('truetype'),
         url('/assets/fonts/helveticaneueltpro-bd-webfont.svg#webfont3m3HOsG0') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica Neues';
    src: url('/assets/fonts/helveticaneueltpro-roman-webfont.eot');
    src: url('/assets/fonts/helveticaneueltpro-roman-webfont.eot?iefix') format('eot'),
         url('/assets/fonts/helveticaneueltpro-roman-webfont.woff') format('woff'),
         url('/assets/fonts/helveticaneueltpro-roman-webfont.ttf') format('truetype'),
         url('/assets/fonts/helveticaneueltpro-roman-webfont.svg#webfontf52l9gQ7') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, html, td, tr, p, h1, h2, h3, h4, h5, div {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #333;
}

p {
	text-align: justify;
}

body {
	background:#a5ddf2;
	font: 12px "Helvetica Neues" , Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;
	color: #333;
}

.content.top {
	background: #f2efe5;
}

.content.top h1 {
	font-size: 40px;
	font-weight: bold;
	text-shadow: #fff 1px 1px 1px;
	margin-bottom: 10px;
}

.content.top h2 {
	font-size: 23px;
}

.content.top .container {
	min-height: 387px;
}

.content.bottom h1 {
	font-weight: bold;
	font-size: 32px;
	text-shadow: #cef2ff 1px 1px 1px;
	margin-bottom: 20px;
}

.content.bottom h2 {
	font-size: 23px;
	margin-bottom: 8px;
	font-weight: bold;
}

.content.bottom h3 {
	font-size: 18px;
	font-weight: bold;
	color: #404e54;
}

.content.bottom h4 {
	font-size: 14px;
	color: #5f747c;
	margin-bottom: 5px;
}

.content.bottom h5 {
	font-size: 16px;
	margin-bottom: 12px;
	color: #404e54;
}

.experience p {
	font-size: 16px;
	line-height: 25px;
}

.experience {
	margin-bottom: 40px;
	padding-bottom: 35px;
	border-bottom: 1px solid #83bfd6;
}

.content.bottom {
	padding-top: 50px;
}

.content.bottom .left {
	width: 550px;
}

.content.bottom .right {
	width: 400px;
}

.content.middle {
	background: url(/assets/images/waves.png) repeat-x;
	height: 77px;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

.welcome {
	width: 450px;
	float: right;
	padding: 180px 50px 0 0;
}

.cloud-small {
	height: 113px;
	width: 181px;
	background: url(/assets/images/cloud-small.png) no-repeat;
	padding: 35px 0 0 0;
	float: left;
	text-align: center;
}

.cloud-large {
	height: 185px;
	width: 296px;
	background: url(/assets/images/cloud-large.png) no-repeat;
	float: left;
	text-align: center;
	margin: -85px 0 0 200px;
}

.cloud-small-resume {
	margin: 30px 0 0 60px;
}

.cloud-small-linkedin {
	margin: -20px 0 0 20px;
}

.nav {
	position: absolute;
	margin-top: 4px;
	float: right;
	z-index: 1;
}

.nav h3 a {
	color: #48819c;
	font-size: 18px;
	font-weight: bold;	
	padding-right: 10px;
}

.crystal {
	position: absolute;
	height: 330px;
	width: 238px;
	background: url(/assets/images/crystal.png) no-repeat;
	float: left;
	margin-left: 190px;
	z-index: 3;
}

.island {
	position: absolute;
	height: 708px;
	width: 615px;
	background: url(/assets/images/island.png) no-repeat;
	float: left;
	margin: -170px 0 0 -200px;
	z-index: 2;
}

.octopus {
	height: 139px;
	width: 143px;
	background: url(/assets/images/octopus.png) no-repeat;
	float: right;
	margin: 0 100px 10px 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.container-footer {
	background: url(/assets/images/dirt.png) repeat-x bottom;
}

.footer {
	float: left;
	margin: 105px 0 0 0;
	color: #fecd93;
}

.footer a {
	font-size: 30px;
	color: #fecd93;
	font-weight: bold;
}

.divider {
	clear: both;
}